.chatting {
  height: 100vh;
}
.chatting {
  background-color: rgb(206, 255, 255);
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes leftside {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: none;
  }
}
@keyframes rightside {
  from {
    transform: translateX(200px);
  }
  to {
    transform: none;
  }
}
.message__you {
  animation: leftside 1s linear;
}
.status-chatting {
  z-index: 2;
}
.header-name {
  background-color: rgb(206, 255, 255);
  z-index: 1;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
@keyframes imgscale {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  animation: imgscale 1s linear;
  animation-delay: 1s;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__author {
  opacity: 0.8;
  font-size: 17px;
  margin-bottom: 10px;
  display: block;
}
@keyframes spanscale {
  from {
    transform: none;
  }
  to {
    transform: scale(1.3);
  }
}
.message__bubble:hover {
  animation: spanscale 1s linear forwards;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 10px;
}

.message__time {
  opacity: 0.8;
  font-size: 15px;
}

.message-row--own {
  justify-content: flex-end;
  animation: rightside 1s linear;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 10px;
  width: 100%;
  border: 1px var(--rgb2) solid;
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 12px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}
.message-img {
  animation: imgscale 1s linear infinite;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
