.channel {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  color: rgb(0, 0, 0, 0.5);
  border-top: 1px rgb(0, 0, 0, 0.1) solid;
}
.channel__text {
  margin-top: 10px;
}
.fa-chevron-up {
  margin-top: 10px;
}
