.setting-header {
  display: flex;
  padding: 20px;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.setting-header__title {
  font-size: 28px;
}
.setting-header__icons {
  width: 33%;
}
.setting-header__icons:first-child {
  margin-right: auto;
}
.setting-header__icons:nth-child(2) {
  display: flex;
  justify-content: center;
}
.setting-header__icons:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.setting-header__icon:last-child {
  margin-left: 20px;
}

.settings-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
  margin-bottom: 30px;
  border-bottom: 1px rgb(0, 0, 0, 0.03) solid;
  color: var(--rgb6);
}
.settings-setting:last-child {
  display: flex;
  align-items: center;
}
.settings-setting i {
  font-size: 30px;
  margin-right: 20px;
}
.settings__setting-column {
  font-size: 24px;
  font-weight: 200;
  width: 100%;
}
.settings__setting-column:last-child {
  opacity: 0.5;
  font-size: 20px;
}
.settings__setting-column i {
  width: 20%;
}
.setting__last {
  display: flex;
  justify-content: flex-end;
}
.border-top {
  padding-top: 40px;
  margin-top: 20px;
  border-top: 1px var(--rgb2) solid;
}
